body{
	background-image: url(../images/island.jpg);
  	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  	background-size: cover;
  	font-family: 'PT Sans';
	background-attachment: fixed;
	min-height: 100%
	-webkit-text-size-adjust: none;
  	overflow-x: hidden;
	text-align: center;
	color: white;
}

@media screen and (max-width: 40em) {
	body{
		background-color: red;
		}
}


@media screen and (max-width: 460px) {
	body{
		background-color: red;
		}
}


header{
	margin: 10px;

}

.links{
	opacity: .5;
	float: center;

}

#message{
	margin-bottom: 10px;

}
