body{
	background-image: url(../images/beac.jpg);
  	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  	background-size: cover;
  	font-family: 'PT Sans';
	background-attachment: fixed;
	min-height: 100%
	-webkit-text-size-adjust: none;
  	overflow-x: hidden;
  	padding: 20px 0px 0px 20px;
}


@media screen and (max-width: 40em) {
	body{
		background-color: red;
		}
}


@media screen and (max-width: 460px) {
	body{
		background-color: red;
		}
}

#home{
	width: 800px;
}

#header{
	float: left;
	margin-top: -20px;
	width: 600px;
}

.links{
	float: right;
	float: top;
	width: 280px;
}

.link{
	opacity: .5;
}


/*//////////////////////////////////////////////////////////////////////////////////////////*/

@mixin stripes()
{
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 25%, #000000 26%, #000000 74%, #ffffff 75%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(25%,#ffffff), color-stop(26%,#000000), color-stop(74%,#000000), color-stop(75%,#ffffff), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 25%,#000000 26%,#000000 74%,#ffffff 75%,#ffffff 100%);
  background: -o-linear-gradient(top, #ffffff 0%,#ffffff 25%,#000000 26%,#000000 74%,#ffffff 75%,#ffffff 100%);
  background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 25%,#000000 26%,#000000 74%,#ffffff 75%,#ffffff 100%);
  background: linear-gradient(to bottom, #ffffff 0%,#ffffff 25%,#000000 26%,#000000 74%,#ffffff 75%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );

  background-size: 20px;
  background-position: center;
}

  
  .clock
  {
    width: 320px;
    height: 320px;
    margin: 0 auto;
    position: relative;
    
    .minute,
    .hour,
    .inner
    {
      @include stripes();
      border-radius: 50%;
      position: absolute;
      width: 320px;
      height: 320px;
    }
    
    .hour
    {
      width: 210px;
      height: 210px;
      left: 55px;
      top: 55px;
    }
    
    .inner
    {
      -ms-transform: rotate( 90deg );
      -moz-transform: rotate( 90deg );
      -webkit-transform: rotate( 90deg );
      width: 105px;
      height: 105px;
      left: 108px;
      top: 108px;
    }
    
    .minute:before,
    .hour:before
    {
      content: '';
      display: block;
      background-color: red;
      width: 10px;
      height: 56px;
      -ms-transform: rotate( 90deg );
      -moz-transform: rotate( 90deg );
      -webkit-transform: rotate( 90deg );
      transform: rotate( 90deg );
      position: absolute;
      top: 132px;
      left: 288px;
    }

    .hour:before
    {
      top: 77px;
      left: 178px;
    }
  
}
