body{
	background-image: url(../images/woodwork.jpg);
  	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  	background-size: cover;
  	font-family: 'PT Sans';
	background-attachment: fixed;
	min-height: 100%
	-webkit-text-size-adjust: none;
  	overflow-x: hidden;
	text-align: center;
}

#post{
	margin: 15px;
	color: green;
	font-size: 25px;
}

#titlename{
	background-color: black;
	color: white;
}

@media screen and (max-width: 40em) {
	body{
		background-color: red;
		}
}

