body{
	background-image: url(../images/river.jpg);
  	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  	background-size: cover;
  	font-family: 'PT Sans';
	background-attachment: fixed;
	min-height: 100%
	-webkit-text-size-adjust: none;
  	overflow-x: hidden;
	text-align: center;
}

#post{
	margin-top: 10px;
	margin-bottom: 10px;
}

#title{
	margin-top: 10px;
}

@media screen and (max-width: 40em) {
	body{
		background-color: red;
		}
}


@media screen and (max-width: 460px) {
	body{
		background-color: red;
		}
}


.register{
	text-align: center;
}

#email{
	width: 1324px;
	margin-top: 10px;
}

#username{
	width: 1290px;
		margin-top: 10px;

}

#password{
	width: 1290px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.headingbutton{
	
}

footer{
	text-align: right;
	padding: 5px;
	color: white;
}